{%load staticfiles%}
<!DOCTYPE HTML>
<head>
  <title>About</title>
  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'aud2gest/css/about_project.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>


<body style="overflow-y: hidden;">
	<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: rgb(3, 11, 34); height: 72px;" >
		<a href="../index"><img src="{% static 'aud2gest/images/logo3.png' %}"  width="45px" ></a>
		<div class="container" style="margin-left: 10px;">
		  <a class="navbar-brand" href="../home">ISL Translator</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left: 80%;">
			<ul class="navbar-nav ml-auto" >
				<li class="nav-item">
					<a class="nav-link" href="../index">Dashboard</a>
				  </li>
			  <li class="nav-item">
				<a class="nav-link" href="../about_project">About </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="../instruction">Instructions</a>
			  </li>
			  {% if user.is_authenticated %}
				  <li class="nav-item">
					<a class="nav-link" href="../logout">Logout</a>
				  </li>
				  {% else %}
				  <li class="nav-item">
					<a class="nav-link" href="../login">Login</a>
				  </li>
			  {% endif %}
			</ul>
		  </div>
		</div>
	  </nav>
<br><br><br><br>
<h1 style="font-family: 'Josefin Sans', sans-serif; font-size: 3.5rem; color: rgb(3, 11, 34)"><center>About The Project</center></h1>
<!-- <img class="image" src="https://templated.co/items/demos/visualize/images/avatar.jpg"/> -->
<br>
<h2 style="color : rgba(245, 240, 240, 0.89);font-family: 'Merriweather', serif; font-size: 2rem; font-weight: 150;">A mutual conversation Interface for Gesture Recognition for aiding Real-Time hand            gestures to speech and vice versa by a novel VGG-19 based Model and Optimised Breadth First Search Algorithm.
It would provide a platform for the deaf-mute to communicate freely with the rest of the society. </h2>
<br>
<!-- <div class="socialmedia">
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-tumblr"></i></a>
</div>
<hr />
<p class="footer" align="center">© Koe No Katachi. All rights reserved.</p> -->
</body>
</html>