@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
/*background-color: black;*/
overflow-x: hidden;

}

/**/
.split_pane{
    height: 90vh;
}

.left{
    
    background-image: url("../images/left.jpg");
    
    background-size: cover;
}
.right{
    background-image: url("../images/right.jpg");
    background-repeat: repeat;
    
}

.middle{
    background-color: white;
}
.logo{
    margin-top: 100%;
}
.headings{
    font-family: 'Josefin Sans', sans-serif !important; 
    font-size: 10rem !important;
  }
